<!DOCTYPE html>

<html>
  <head>
    <title>Unit 4 Signup</title>
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>

  </head>

  <body>
    <h2>Signup</h2>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" name="username" value="{{username}}">
          </td>
          <td class="error">
            {{error_username}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
          <td class="error">
            {{error_password}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Verify Password
          </td>
          <td>
            <input type="password" name="verify" value="">
          </td>
          <td class="error">
            {{error_verify}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Email (optional)
          </td>
          <td>
            <input type="text" name="email" value="{{email}}">
          </td>
          <td class="error">
            {{error_email}}
          </td>
        </tr>
      </table>

      <input type="submit">
    </form>
  </body>

</html>


<!-- <!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<form method="post">
		<fieldset>
			<legend>Register</legend>
			<ol>
				<li><input type="text" name="username" value="{{username}}">{{username_error}}</li>
				<li><input type="password" name="password">{{password_error}}</li>
				<li><input type="password" name="verify">{{verify_error}}</li>
				<li><input type="text" name="email" value="{{email}}">{{email_error}}</li>
			</ol>
			<input type="submit">
		</fieldset>
	</form>
</body>
</html> -->